@model Music.db.ViewModels.Genre.CreateGenreViewModel

@{
	ViewData["Title"] = "Create Genre";
}

<div class="row pt-5">
	<h3>Create a genre</h3>

	<hr/>

	<form asp-action="Create">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row pb-1">
			<div class="col-md-6">
				<div class="input-group mb-2">
					<span class="input-group-text"><label asp-for="Name" class="control-label "></label></span>
					<input asp-for="Name" class="form-control">
				</div>
				<div class="pb-2">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row py-1">
			<div class="col-md-6">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a asp-controller="Genre" asp-action="Index" value="" class="btn btn-danger m-1">Cancel</a>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
