@{
	ViewData["Title"] = "Genre";
}

<div class="text-center">
	<h1 class="display-4">Welcome at the genre index</h1>

	<a class="btn btn-primary" asp-area="" asp-controller="Genre" asp-action="List">List</a>
	<a class="btn btn-primary" asp-area="" asp-controller="Genre" asp-action="Create">Create</a>
</div>
