@model List<Genre>
@{
    ViewData["Title"] = "Genres";
}

<h1 class="text-center display-3">Genres</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
                <tr>
                    <td>
                    @genre.Id
                    </td>
                    <td>
                    @genre.Name
                    </td>
                </tr>
        }
    </tbody>
</table>