@{
    ViewData["Title"] = "Artist";
}

<div class="text-center">
    <h1 class="display-4">Welcome at the artist index</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
