@model Music.db.ViewModels.Song.CreateSongViewModel

@{
	ViewData["Title"] = "Create Song";
}

<div class="row pt-5">
	<div>
		<h3>Create a Song</h3>
	</div>

	<hr />

	<form asp-action="Create">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row pb-1">
			<div class="input-group mb-2">
				<span class="input-group-text"><label asp-for="Title" class="control-label "></label></span>
				<input asp-for="Title" class="form-control">
			</div>
			<div class="pb-2">
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>

			<div class="input-group mb-2">
				<span class="input-group-text">
					<label asp-for="ArtistId" class="control-label"></label>
				</span>
				<select asp-for="ArtistId" asp-items="Model.Artists" class="form-select" multiple>
					<option selected disabled>Select an artist</option>
				</select>
			</div>
			<div class="pb-2">
				<span asp-validation-for="ArtistId" class="text-danger"></span>
			</div>

			<div class="input-group mb-2">
				<span class="input-group-text">
					<label asp-for="GenreId" class="control-label"></label>
				</span>
				<select asp-for="GenreId" asp-items="Model.Genres" class="form-select">
					<option selected disabled>Select a genre</option>
				</select>
			</div>
			<div class="pb-2">
				<span asp-validation-for="GenreId" class="text-danger"></span>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Save</button>
		<a class="btn btn-danger m-1" asp-controller="Song" asp-action="List">Cancel</a>
	</form>
</div>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}