@model Music.db.ViewModels.Song.DeleteSongViewModel

@{
	ViewData["Title"] = $"Delete {Model.Title}";
}

<div>
	<h5>Delete song: @Model.Title</h5>
</div>
<div>
	<form asp-action="Delete">
		<input type="hidden" asp-for="SongId" />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row pb-1">
			Are you sure you want to delete: @Model.Title?
		</div>

		<a class="btn btn-secondary" asp-controller="Song" asp-action="List">Cancel</a>
		<button type="submit" class="btn btn-primary">Delete</button>
	</form>
</div>
