@{
	ViewData["Title"] = "Song";
}

<div class="text-center">
	<h1 class="display-4">Welcome at the song index</h1>
</div>

<div>
	<a class="btn btn-primary" asp-area="" asp-controller="Song" asp-action="List">List</a>
</div>

<div>
	<partial name="../Song/_Create" />
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}